<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binas.yak">

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.study.PronounciationCheckActivity"></activity>
        <activity android:name=".ui.study.ReviseWritingActivity" />
        <activity android:name=".ui.study.LearnNewVocabularyActivity" />
        <activity android:name=".ui.study.vocabulary.VocabularyReviseWritingActivity" />
        <activity android:name=".ui.study.vocabulary.VocabularyReviseSoundActivity" />
        <activity android:name=".ui.study.vocabulary.VocabularyReviseMeaningActivity" />
        <activity android:name=".ui.study.grammar.GrammarReviseWritingActivity" />
        <activity android:name=".ui.study.grammar.GrammarReviseSoundActivity" />
        <activity android:name=".ui.study.grammar.GrammarStudyCardActivity" />
        <activity android:name=".ui.study.vocabulary.VocabularyStudyCardActivity" />
        <activity android:name=".ui.study.sign.SignReviseWithDecisionActivity" />
        <activity android:name=".ui.study.sign.SignReviseWritingActivity" />
        <activity android:name=".ui.study.sign.SignReviseSoundActivity" />
        <activity android:name=".ui.study.sign.SignStudyCardActivity" />
        <activity android:name=".ui.achievements.AchievementsActivity" />
        <activity android:name=".ui.studiedElements.CalendarActivity" />
        <activity android:name=".ui.studiedElements.StudiedElementDetailsActivity" />
        <activity android:name=".ui.studiedElements.StudiedElementsActivity" />
        <activity android:name=".ui.settings.ChangePasswordActivity" />
        <activity android:name=".ui.settings.ChangeLanguageActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.study.LearnNewSignActivity" />
        <activity android:name=".ui.authentication.ResetPasswordActivity" />
        <activity android:name=".ui.authentication.AuthMenuActivity" />
        <activity android:name=".ui.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.study.StudyActivity" />
        <activity android:name=".ui.authentication.LoginActivity" />
        <activity android:name=".ui.authentication.SignupActivity" />
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>