<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binas.yak">

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.study.CompareWritingActivity"></activity>
        <activity android:name=".ui.study.MeaningCheckActivity" />
        <activity android:name=".ui.study.IncorrectActivity" />
        <activity android:name=".ui.study.CorrectActivity" />
        <activity
            android:name=".ui.study.grammar.GrammarPronounciationCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.PronounciationCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.ReviseWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.LearnVocabularyWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.vocabulary.VocabularyReviseWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.vocabulary.VocabularyReviseSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.vocabulary.VocabularyReviseMeaningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.grammar.GrammarReviseWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.grammar.GrammarReviseSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.grammar.GrammarStudyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.vocabulary.VocabularyStudyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.SignReviseWithDecisionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.SignReviseWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.SignReviseSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.SignStudyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.achievements.AchievementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.studiedElements.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.studiedElements.StudiedElementDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.studiedElements.StudiedElementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.ChangeLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.LearnSignWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.AuthMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.study.StudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>