<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binas.yak">

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.study.grammar.learn.view.LearnGrammarWritingActivity"></activity>
        <activity android:name=".ui.study.common.view.CompareWritingActivity" />
        <activity android:name=".ui.study.common.view.MeaningCheckActivity" />
        <activity android:name=".ui.study.common.view.IncorrectActivity" />
        <activity android:name=".ui.study.common.view.CorrectActivity" />
        <activity
            android:name=".ui.study.grammar.reviseSound.pronounciationCheck.view.GrammarPronounciationCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.common.view.PronounciationCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.common.view.ReviseWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.vocabulary.learn.learnWriting.view.LearnVocabularyWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.vocabulary.reviseWriting.view.VocabularyReviseWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.vocabulary.reviseSound.view.VocabularyReviseSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.vocabulary.reviseMeaning.view.VocabularyReviseMeaningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.grammar.reviseWriting.view.GrammarReviseWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.grammar.reviseSound.view.GrammarReviseSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.grammar.learn.view.GrammarStudyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.vocabulary.learn.studyCard.view.VocabularyStudyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.reviseWithDecision.view.SignReviseWithDecisionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.reviseWriting.view.SignReviseWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.reviseSound.view.SignReviseSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.learn.view.SignStudyCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.achievements.view.AchievementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.studiedElements.calendar.view.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.studiedElements.details.view.StudiedElementDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.studiedElements.view.StudiedElementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.changePassword.view.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.changeLanguage.view.ChangeLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.view.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.study.sign.learn.view.LearnSignWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.resetPassword.view.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.authMenu.view.AuthMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.splash.view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.study.common.view.StudyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.login.view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.signup.view.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.view.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>